body {
  background-color: #2e2d0f;
  margin: 0;

}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}